.custom-dot-list-style {
  // position: absolute;
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // align-items: start;
  // top: 10%;

  // z-index: 0;
}
.react-multi-carousel-dot-list.custom-dot-list-style {
  // position: absolute;
  // top: 10%;
  // // left: 0;
  // // right: 0;
  // // justify-content: flex-start;
  // // margin: auto;
  // padding: 0;
  // margin: 0;
  // list-style: none;
  // text-align: center;
  // z-index: 1;
}

.active_car {
  font-size: 2rem;
  transition: 0.4s ease;
  list-style: none;
  text-decoration: none;
  color: #ff331a;
  font-weight: 100;
  @media screen and (max-width: 760px) {
    font-size: 1.3rem;
  }
}

// .active_car_:hover:after {
//   opacity: 1;
//   -webkit-transform: scale(1);
//   transform: scale(1);
// }
// .active_car:hover {
//   color: #ff331a;
// }
.inactive_car {
  font-size: 2rem;
  color: #000;
  list-style: none;
  text-decoration: none;
  z-index: 9999999;
  font-weight: 100;
  @media screen and (max-width: 760px) {
    font-size: 1.3rem;
  }
}

.names_container {
  margin: 0rem 3rem;
}
.name_info_container {
  position: fixed;
  margin: 2rem 5rem;
  color: #d1cfcf;
}
.btn_container {
  transition: 1s ease;
}
