.logos {
  //   position: absolute;
  //   top: 14px;
  //   right: 0;
  margin-right: 2rem;
  text-decoration: none;
  // color: #000;
  color: #000000;
  z-index: 5;
  font-size: 24px;
  transition: 0.4s;
}
.logos:hover {
  color: gold;
}
