.dan_wrapper {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // background-color: #eff1f4;
  background-color: #fff;

  .post {
    width: 400px;
    height: 300px;
    position: relative;
    // border-radius: 2%;
    margin: 2rem;
    border: 1px solid red;
    cursor: pointer;
  }
}
.post:hover .post-s {
  width: 400px;
}
.post img {
  display: block;
  width: 400px;
  height: 300px;
}
.post-s {
  width: 0px;
  height: 300px;
  background: rgba(103, 58, 183, 0.71);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.7s ease;
}
.post-s h2 {
  color: #fff;
  font-size: 20px;
  border: 6px solid #fff;
  padding: 10px 20px;
}

.videoPlayerWrapper {
  height: 40rem;
  width: 100%;
}
