.dan_wrapper {
  margin-top: -12px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #eff1f4;

  .dan_info_container {
    width: 320px;
    width: 320px;
    border-radius: 2%;
    margin: 2rem;
  }
  .card_container {
    padding: 56.25% 0 0 0;
    position: relative;
  }
}
