.dan_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  border: 2px solid blue;

  .dan_info_container {
    border: 1px solid red;
    justify-content: space-around;
    width: 20rem;
    margin: 2rem;

    .dan_info_card {
      height: 200px;
      display: flex;
      color: green;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
