@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.director_wrapper {
  margin-top: 5rem;
  display: flex;
  width: 95%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // background-color: #eff1f4;
  background-color: #fff;

  @media screen and (max-width: 760px) {
    width: 100%;
  }

  .post {
    font-family: "Montserrat", sans-serif;
    margin: 1.3rem;
    width: 475px;
    height: 300px;
    position: relative;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    overflow: hidden;
  }
}

// .hover02 figure img {
// 	width: 300px;
// 	height: auto;
// 	-webkit-transition: .3s ease-in-out;
// 	transition: .3s ease-in-out;
// }
// .hover02 figure:hover img {
// 	width: 350px;
// }

// .post:hover img {
//   -webkit-transition: 0.3s ease-in-out;
//   transition: 0.3s ease-in-out;
//   width: 550px;
//   height: 320px;
// }
.post:hover .post-s {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  width: 575px;
}
.post img {
  display: block;
  width: 575px;
  height: 350px;
  transition: 0.3s ease-in-out;
}
.post:hover img {
  width: 650px;
  height: 400px;
}
.post-s {
  clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
  width: 0px;
  height: 350px;
  background: rgba(50, 49, 51, 0.68);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.7s ease;
}
.post-s h4 {
  color: #fff;
  font-size: 1.4rem;
  // border: 6px solid #fff;
  // padding: 10px 20px;
}
.post-info {
  // width: 20px;
  // height: 20px;
  -webkit-transform: translateY(200px);
  transform: translateY(200px);
  -webkit-transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0;
  transition: 0.52s;
  color: #fff;
  padding-left: 15%;
}
.post:hover .post-info {
  -webkit-transform: translateY(80%);
  transform: translateY(80%);
}
.post:hover .video_name h2 {
  color: gold;
  transition: 1s ease;
}
.video_name {
  position: absolute;
  top: 100px;
  left: 20px;
  color: #fff;
  z-index: 2;
  font-weight: 100;
  font-size: 1rem;
  @media screen and (max-width: 760px) {
    font-size: 0.8rem;
  }
}

.videoPlayerWrapper {
  padding-top: 2rem;
  height: 40rem;
  // width: 100%;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 760px) {
    height: 25rem;
    margin: 0;
    padding: 0;
  }
}
// .logos {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   // position: absolute;
//   // top: 14px;

//   // right: 0;
//   margin-left: 2rem;
//   text-decoration: none;
//   color: #000;
//   z-index: 5;
// }

.logo_bar {
  width: 100%;
  height: 80px;
  background: #fff;
  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logos {
  margin-right: 2rem;
  text-decoration: none;
  color: #000000;
  z-index: 5;
  font-size: 24px;
  font-weight: 500;
  transition: 0.4s;
  @media screen and (max-width: 760px) {
    position: absolute;
    top: 1rem;
    left: 20px;
    font-size: 1.4rem;
  }
}

.logos:hover {
  color: gold;
}

#logo:hover {
  color: gold;
}
#logo {
  @media screen and (max-width: 760px) {
    display: none !important;
  }
}

.directors_name_container {
  margin-left: 2rem;
  display: flex;
  z-index: 0;
  // align-items: center;
  // justify-content: center;
}
.dir_name {
  color: gold;
  margin-left: 0.4rem;
}

.credit_wrapper {
  // width: 80%;
  margin: 3rem;
  font-size: 0.8rem;
  display: flex;
  // justify-content: center;
  // align-items: center;
  flex-direction: column;
}
.credit_wrapper p {
  margin: 0 1rem;
}
.credit_wrapper h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  @media screen and (max-width: 760px) {
    width: 100%;
    font-size: 1rem;
  }
}
.bio_container {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 4rem 2rem;
}
.bio_container h3 {
  margin-left: 4rem;
  font-weight: 100;
  font-size: 2rem;
}
.bio_info {
  display: flex;
  margin: 2rem;
  flex-wrap: wrap;
}
.bio_info p {
  margin: 2rem;
}
.bio_info img {
  width: 80%;
}

.head_shot {
  width: 45%;
  height: 10%;
  margin-left: 3rem;
}
.social_media_container {
  margin-left: 2rem;
}

.icon {
  display: flex;
  justify-content: center;
  margin: 0 2rem;
  @media screen and (max-width: 760px) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
}

.icon ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  margin: auto 20px;
  box-shadow: 3px 3px 10px #efefef, -4px -4px 10px white;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  cursor: pointer;
  transition: 0.5s;
}

.icon ul li:nth-child(1):hover {
  color: #fff;
  border-radius: 50%;
  background-color: #0072b1;
}
.icon ul li:nth-child(2):hover {
  color: #fff;
  border-radius: 50%;
  background-color: #86c9ef;
}

.header2 {
  margin-right: 2rem;
  text-decoration: none;
  color: #000000;
  z-index: 5;
  font-size: 24px;
  font-weight: 500;
  transition: 0.4s;
  @media screen and (max-width: 760px) {
    position: absolute;
    top: 1rem;
    left: 20px;
    font-size: 1.4rem;
  }
}

.header {
  margin-right: 2rem;
  text-decoration: none;
  color: #000000;
  z-index: 5;
  font-size: 30px;
  font-weight: 500;
  transition: 0.4s;
}

.border_shadow {
  width: 100%;
  height: 80px;
  background: #fff;
  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.no_border_shadow {
  box-shadow: 0 4px 6px -6px #b6b5b5;
  width: 100%;
  height: 80px;
  background: #fff;
  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header_wrapper {
  width: 100%;
  height: 80px;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
